 
  
  <div class="card card-secondary m-5">
    <div class="card-header">
        <h3 class="card-title">Fetched Users Data</h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <div *ngIf="showListOfUsers; else noContent" class="" style="overflow: auto !important;"> 
            <table id="" datatable [dtOptions]="dtOptions"  class="table table-bordered table-condensed" *ngIf="usersData;">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>ID</th>
                        <th>Image</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
 
                        <th>View</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mydata of usersData; index as i">
                        <td>{{ i + 1 }}</td>
                        <td style="font-size: 23px; " class="font-weight-bolder">{{ mydata.id }}</td>
                        <td><img [src]=" mydata.avatar " style="height: 100px; border-radius: 50%;"></td>
                        <td>{{ mydata.first_name | titlecase}} </td>
                        <td>{{ mydata.last_name | titlecase}}</td> 
                        <td>{{ mydata.email }}</td> 

                        <td title="View"><button class="btn btn-sm btn-outline-primary"
                             ><i class="nav-icon fas fa-eye"></i>
                                </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ng-template #noContent>
      <p style="color: red;" class="text-center">NO content Available </p>
    </ng-template>
    <!-- /.card-body -->
     
</div>
 